.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
}

.Layout{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  height: 10%;
  width: 100%;
  background-color: #5c5cc2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content{
  height: 80%;
  width: 100%;
  background-color: #8361ff;
}

.footer{
  height: 10%;
  width: 100%;
  background-color: #3a3e71;
}
